@charset "utf-8";
/*reset CSS*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
.font {
	font-family: "Open Sans";
}
#setContainer {
	padding: 0;
}
.backgroundGray {
	background: #f6f6f6;
}
.fontColorBlue {
	color: #369ad8;
}
/*--------------------Start PAGE ONE-------------------*/
#pageOne {
	padding: 20px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/thank-trainer-present-new.png);
}
#menuElements {
	text-align: right;
}
#menuElements li {
	display: inline-block;
}
#menuElements li a {
	text-decoration: none;
	color: #FFF;
	padding: 3px 30px;
}
#menuElements li a:hover {
	background: rgba(255,255,255,0.7);
}
#menu {
	padding: 0 10px;
	font-size: 16px;
}
.topButton {
	width: 150px;
	height: 30px;
	border: none;
	background: #52d2b0;
	padding: 4px 10px;
	border-radius: 1px;
	color: #FFF;
}
#PageOneText {
	padding: 5% 0 0 15%;
	font-size: 40px;
	color: #FFF;
	font-weight: lighter;
	line-height: 60px;
}
/*Tablet Menu*/
#TabletMenu{
	width:100%;
	padding:15px 0;
	background:rgba(54, 203, 163, 0.6);
	text-align:center;
	position:fixed;
	z-index:1000;
	display:none;
}
#TabletMenuButton{
	text-align:left;
	position: relative;
  	padding-left: 20px;
}
#TabletMenuButton button{
	width:30px;
	height:30px;
	margin-left:2%;
	opacity:0;
}
#TabletMenuButton ul{
	list-style:none;
	position:absolute;
	top:45px;
	display:none;
}
#TabletMenuButton ul li:first-of-type{
	border-top:none;
}
#TabletMenuButton ul li{
	padding:10px;
	border-bottom:1px solid #DCDCDC;
	border-top:1px solid #DCDCDC;
}
#TabletMenuButton ul li a{
	text-decoration:none;
	color:#AEAEAE;
}
#TabletMenuButton:before{
	content: "";
  	position: absolute;
  	left: 5%;
  	top: 7px;
  	width: 30px;
  	height: 2px;
  	background: white;
  	box-shadow: 
    0 8px 0 0 white,
    0 16px 0 0 white;
}

/*----------------END PAGE ONE-------------------*/
/*---START PAGE SETTING FOR PAGE TWO THREE AND FOUR---*/

.textSettingOdd {
	padding: 10% 0 10% 15%;
	font-size: 40px;
	font-weight: lighter;
	line-height: 60px;
}
.textSettingEven {
	padding: 10% 15% 10% 0;
	font-size: 40px;
	font-weight: lighter;
	line-height: 60px;
}
.content {
	width: 100%;
	padding: 100px 0;
}
.content aside img {
	width: 75%;
}
/*---END PAGE SETTING FOR PAGE TWO THREE AND FOUR---*/
/*-----------------START PAGE TWO------------------*/
#pageTwo .content aside::before {
	content: "";
	position: absolute;
	top: 40%;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #f6f6f6;
}
/*----------------END PAGE TWO-------------------*/

/*-----------------START PAGE Three------------------*/
#pageThree .content aside::after {
	content: "";
	position: absolute;
	right: 14%;
	top: 40%;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-right: 40px solid #FFF;
}
/*----------------END PAGE Three-------------------*/
/*-----------------START PAGE FOUR------------------*/
#pageFour .content aside::before {
	content: "";
	position: absolute;
	top: 40%;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #f6f6f6;
}
/*----------------END PAGE FOUR-------------------*/
/*-----------------START PAGE FIVE------------------*/
#pageFive {
	text-align: center;
	padding: 30px 40px;
}
#pageFive > h1 {
	font-size: 48px;
	font-weight: lighter;
	line-height: 60px;
	padding-bottom: 50px;
}
#pageFive .col-sm-4 h3 {
	font-weight: lighter;
	line-height: 40px;
	padding: 30px 0 0;
}
#pageFive .col-sm-4 h4 {
	font-weight: lighter;
	line-height: 30px;
	color: rgba(74,74,74,0.24);
}
#pageFive .col-sm-4 p {
	font-weight: lighter;
	color: rgba(74,74,74,0.24);
	line-height: 20px;
	padding-bottom: 30px;
}
/*----------------END PAGE FIVE-------------------*/
/*-----------------START PAGE SIX------------------*/
#pageSix {
	padding-top: 50px;
	text-align: center;
}
#pageSix h1 {
	font-weight: lighter;
	line-height: 60px;
	padding-bottom: 50px;
}
#pageSix img{
	width:50%;
}
/*----------------END PAGE SIX-------------------*/
/*-----------------START PAGE SEVEN------------------*/
#pageSeven {
	padding: 100px 0 200px;
	text-align: center;
}
#pageSeven h1 {
	font-weight: lighter;
	line-height: 50px;
	padding: 100px 0 0;
	color:#424a7a;
}

/*----------------END PAGE SEVEN-------------------*/
/*-----------------START PAGE EIGHT------------------*/
#pageEight {
	padding: 150px 0;
	text-align: center;
}
#pageEight h1 {
	font-weight: lighter;
	line-height: 60px;
	padding-bottom: 50px;
}
#pageEight h1:nth-of-type(2):before{
	content:url(../images/No%20Credit%20Card%20icon.png);
	padding-right:15px;
}
#pageEight h1:last-of-type {
	color: rgba(0,0,0,0.4);
	position:relative;
}
/*Circle+square*/
.shape {
	text-align: center;
	padding-bottom: 60px;
}
.pricecircle {
	background: #52D2B0;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: 2px solid #FFFFFF;
	font-size: 22px;
	line-height: 75px;
	color: #FFF;
	margin: 0 auto;
	position: relative;
	font-weight: lighter;
	z-index: 3;
}
.pricesquare {
	display: inline-block;
	border: 2px solid #FFFFFF;
	width: 160px;
	height: 55px;
	margin: -20px auto 0;
	font-size: 22px;
	background-color: #38AFDF;
	color: #8CC2E4;
	line-height: 55px;
	font-weight: lighter;
}
.pricesquare:first-of-type {
	border-right: 1px;
}
.pricesquare:last-of-type {
	border-left: 1px;
	position: relative;
}
.pricesquare:last-of-type::before {
	content: url(../images/tag-10-o-f-f-copy@2x.png);
	position: absolute;
	top: -5px;
	right: -5px;
}
.pricesquare:hover {
	color: #FFF;
	cursor: default;
}
/*Price Setting*/
#priceSetting {
	text-align: center;
}
/*Solo section*/
#Solo {
	width: 70%;
	margin: 0 auto 2px;
	background: #75bae4;
	color: #FFF;
	position:relative;
}
.setting{
	padding-bottom:30px;
}
.setting h2 {
	padding: 60px 0 10px 20px;
	text-align: left;
	font-weight: 600;
}
.setting h3 {
	padding: 80px 0 10px 20px;
	font-weight: 400;
}
.setting p {
	font-weight: lighter;
	font-size: 16px;
}
.setting button {
	background: #f89406;
	margin: 70px 0 15px;
	border: none;
	width: 80%;
	height: 50px;
	font-size: 18px;
}
.orButton{
	position:absolute;
	width:40px;
	height:40px;
	border-radius:20px;
	border:2px solid #FFF;
	bottom:-20px;
	left:48%;
	background:#37cba4;
	z-index:10;
	display:none;
	padding-left:8px;
}
/*Small business section*/
#SmallBusiness {
	width: 70%;
	margin: 0 auto 2px;
	background: #75bae4;
	color: #FFF;
	padding-top: 30px;
	position:relative;
}
#SmallBusiness i {
	display:block;
}
#SmallBusiness h2 {
	padding-top: 10px;
}
#SmallBusiness h4 {
	padding-top: 30px;
}
/*Slider*/
#RangeOfYears {
	width: 200px;
	height: 10px;
	margin: 0 auto;
}
/*Entreprise and Gyme section*/
#entrepriseGym {
	width: 70%;
	margin: 0 auto;
	background: #75bae4;
	color: #FFF;
}
#entrepriseGym h2 {
	padding-top: 30px;
	white-space: nowrap;
}
#entrepriseGym h3 {
	padding-top: 40px;
}
/*----------------END PAGE EIGHT-------------------*/
/*----------------START PAGE NINE-------------------*/
#pageNine {
	margin: 0 auto;
	padding: 20px 10%;
	background: #38afdf;
}
.pageNineSetting {
	font-weight: lighter;
	list-style-type: none;
	color: #FFF;
}
.pageNineSetting tt {
	font-size: 18px;
	line-height: 30px;
}
.pageNineSetting li {
	padding: 5px 0;
	line-height: 20px;
}
.pageNineSetting li:first-of-type {
	padding: 20px 0 5px;
}
#AcountList {
	padding-top: 40px;
}
.pageNineLastPart {
	font-weight: lighter;
	color: #FFF;
	padding: 30px 0 0;
}
.pageNineLastPart h3 {
	padding-bottom: 15px;
}
.pageNineLastPart a {
	padding: 0 5px;
}
/*Last Information NEWS & Contact US*/
#lastInfo input {
	text-align:center;
	height: 50px;
	font-style: italic;
	font-size: 20px;
	border: none;
}
#lastInfo button {
	text-align:center;
	border: none;
	height: 50px;
	background-color: #674172;
	font-size: 20px;
}
/*----------------END PAGE NINE-------------------*/

/*-----------START SLIDER FOR TABLET SIZE------------*/
 .share-icon {
                    display: inline-block;
                    float: left;
                    margin: 4px;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                    vertical-align: middle;
                    background-image: url(../img/share/share-icons.png);
                }

                .share-facebook {
                    background-position: 0px 0px;
                }

                    .share-facebook:hover {
                        background-position: 0px -40px;
                    }

        .share-twitter {
            background-position: -40px 0px;
        }

            .share-twitter:hover {
                background-position: -40px -40px;
            }

        .share-pinterest {
            background-position: -80px 0px;
        }

            .share-pinterest:hover {
                background-position: -80px -40px;
            }

                .share-linkedin {
                    background-position: -240px 0px;
                }

                    .share-linkedin:hover {
                        background-position: -240px -40px;
                    }


                .share-googleplus {
                    background-position: -120px 0px;
                }

                    .share-googleplus:hover {
                        background-position: -120px -40px;
                    }


        .share-stumbleupon {
            background-position: -360px 0px;
        }

            .share-stumbleupon:hover {
                background-position: -360px -40px;
            }

                .share-email {
                    background-position: -320px 0px;
                }

                    .share-email:hover {
                        background-position: -320px -40px;
                    }
					
					/* jssor slider bullet navigator skin 03 css */
            /*
            .jssorb03 div           (normal)
            .jssorb03 div:hover     (normal mouseover)
            .jssorb03 .av           (active)
            .jssorb03 .av:hover     (active mouseover)
            .jssorb03 .dn           (mousedown)
            */
            .jssorb03 {
                position: absolute;
            }
            .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
                position: absolute;
                /* size of bullet elment */
                width: 21px;
                height: 21px;
                text-align: center;
                line-height: 21px;
                color: white;
                font-size: 12px;
                background: url(../img/b03.png) no-repeat;
                overflow: hidden;
                cursor: pointer;
            }
            .jssorb03 div { background-position: -5px -4px; }
            .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
            .jssorb03 .av { background-position: -65px -4px; }
            .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
			/* jssor slider arrow navigator skin 20 css */
            /*
            .jssora20l                  (normal)
            .jssora20r                  (normal)
            .jssora20l:hover            (normal mouseover)
            .jssora20r:hover            (normal mouseover)
            .jssora20l.jssora20ldn      (mousedown)
            .jssora20r.jssora20rdn      (mousedown)
            */
            .jssora20l, .jssora20r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 55px;
                height: 55px;
                cursor: pointer;
                background:url(../../../../searchPage/AliTW/assets/images/a20.png) no-repeat;
                overflow: hidden;
            }
            .jssora20l { background-position: -3px -33px; }
            .jssora20r { background-position: -63px -33px; }
            .jssora20l:hover { background-position: -123px -33px; }
            .jssora20r:hover { background-position: -183px -33px; }
            .jssora20l.jssora20ldn { background-position: -243px -33px; }
            .jssora20r.jssora20rdn { background-position: -303px -33px; }
			 .captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
/*-----------END SLIDER FOR TABLET SIZE------------*/

/*----------------MEDIA QUARY FOR TABLET-------------*/
@media only screen and (max-width: 991px) {
html br {
	display: none;
}
/*--------------------Start PAGE ONE-------------------*/
#PageOneText {
	padding: 5% 15%;
	text-align: center;
}
#menu{
	padding:0;
}
/*----------------END PAGE ONE-------------------*/
/*---START PAGE SETTING FOR PAGE TWO THREE AND FOUR---*/

.textSettingOdd {
	padding: 10% 15%;
}
.textSettingEven {
	padding: 10% 15%;
}
.content aside img {
	width: 60%;
}
/*---END PAGE SETTING FOR PAGE TWO THREE AND FOUR---*/
/*-----------------START PAGE TWO------------------*/
#pageTwo .content aside::before {
	display: none;
}
/*----------------END PAGE TWO-------------------*/
/*-----------------START PAGE Three------------------*/
#pageThree .content aside::after {
	display: none;
}
/*----------------END PAGE Three-------------------*/
/*-----------------START PAGE FOUR------------------*/
#pageFour .content aside::before {
	display: none;
}
/*----------------END PAGE FOUR-------------------*/
/*-----------------START PAGE FIVE------------------*/
#pageFive h1 {
	font-size: 36px;
}
/*----------------END PAGE FIVE-------------------*/
/*-----------------START PAGE FIVE------------------*/
#pageSeven h1 span{
	text-decoration:underline;
}
/*----------------END PAGE FIVE-------------------*/
/*----------------START PAGE SEVEN-------------------*/
#pageSeven img{
	width:80%;
}
/*----------------END PAGE SEVEN-------------------*/
/*----------------START PAGE EIGHT-------------------*/
#pageEight {
	padding-bottom:0;
	text-align: center;
}
#pageEight h1:last-of-type{
	padding-top:50px;
}
#pageEight h1:last-of-type:before{
	content:url(../images/No%20Credit%20Card%20icon.png);
	position:absolute;
	left:47%;
	top:-25px;
}
.shape{
	padding-bottom:0;
}
.setting{
	cursor:pointer;
}
.setting h2,.setting h3{
	padding:20px 0 30px;
	text-align:center;
	height:auto;
}
.setting button{
	margin:20px 0;
	width:40%;
}
.orButton{
	display:block;
}
.setting i{
	display:block;
	padding-bottom:10px;
}
.setting span{
	display:block;
}
#Solo{
	width:100%;
}
#SmallBusiness{
	width:100%;
}
#entrepriseGym{
	width:100%;
}
/*----------------END PAGE EIGHT-------------------*/
/*----------------START PAGE NINE-------------------*/
.pageNineLastPart a{
	padding:0 2px;
}
#lastInfo input {
	font-size: 15px;
}
#lastInfo button {
	font-size: 15px;
}
/*----------------END PAGE NINE-------------------*/
/*Tablet size*/
.qr_code {
             display: none;
          }
}
@media only screen and (max-width: 767px){
header{
	text-align:center;
}
#TabletMenu div:last-of-type button{
	width:120px;
}
#logo img{
	width:30%;
}
#slider1_container{
	width:80%;
}
.textSettingEven{
	font-size:30px;
}
.textSettingOdd{
	font-size:30px;
}
/*----------------START PAGE SIX-------------------*/
#pageSix h1{
	font-size:30px;
}
/*----------------END PAGE SIX-------------------*/
/*----------------START PAGE SEVEN-------------------*/
#pageSeven{
	padding:20px 0;
}
#pageSeven h1{
	padding:20px 0;
}
#pageSeven img{
	width:50%;
}
/*----------------END PAGE SEVEN-------------------*/
/*----------------START PAGE EIGHT-------------------*/
#pageEight{
	padding:20px 0;
}
/*----------------END PAGE EIGHT-------------------*/


}